<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"> -->
  <link rel="stylesheet" href="https://wallet.pawjs.pw/stylesheets/bulma.css">

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      document.getElementById("savebutton").addEventListener("click", function () {
        var form = document.getElementById("diaryform");
        form.submit();
      });

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }
    document.getElementById("sbutton").addEventListener("click", function () {
      var form = document.getElementById("sform");
      form.submit();
    });
  });
  var temp;
  function deleteitem(th) {
    console.log("in delete item");
    console.log(th);
    temp=th;
    console.log("submitting delete form");
    th.parentElement.submit();
  }

  </script>
</head>
<body>
  <nav class="navbar is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
      <a class="navbar-item is-primary" href="/">
        <span class="icon has-text-info">
          <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </span>
        <span>({{user}}) Diary</span>
      </a>

      <div class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenuBlah">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>


    <div class="navbar-menu" id="navMenuBlah">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a class="navbar-item is-primary" id="sbutton">
          <span class="icon has-text-danger">
            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
          </span>
          <!-- <span>Signout</span> -->
        </a>
        <div class="navbar-item">
          <form id="sform" action="/logout" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrftoken }}" />
          </form>
        </div>

      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-one-third is-offset-one-third">
          <div class="field">
            <div class="control">
              <form action="/" method="post" id="diaryform">
                <textarea form="diaryform" name="entry" class="textarea is-primary" type="text" id="diarydata" placeholder="New diary entry"></textarea>
                <input type="hidden" name="csrf_token" value="{{ csrftoken }}" />
              </form>

            </div>
          </div>
          <a id="savebutton" class="button is-primary">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
            <span>Save</span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column is-one-third is-offset-one-third">
          <div class="content" id="entries">
            {{#each entries}}

            <div class="content" style="display:inline-flex;width:100%">
              <!-- <p class="level-item" style="margin:0;flex-grow:0;"> -->

                <form action="/delete" method="post" id="diaryform_{{ time }}" style="display:inline-flex;width:100%">
                  <h2 class="subtitle" style="width:100%;margin:0">{{ betterDate time }}</h2>
                  <a onclick="deleteitem(this)">
                    <span class="icon has-text-danger" style="height:100%">
                      <i class="fas fa-trash-alt"></i>
                    </span>
                  </a>
                  <input type="hidden" name="deletethis" value="{{ time }}" />
                  <input type="hidden" name="csrf_token" value="{{ ../csrftoken }}" />
                </form>
              <!-- </p> -->

            </div>
            <p style="word-wrap:break-word;white-space: pre-line">
              {{data}}
            </p>
            <hr>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>
